.gate-card{
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

.gate-header{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.schedule-header{
    margin-bottom: 20px;
}

.time-slots-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.time-slot-card{
    border: 1px solid #000;
    padding: 20px;
}